{% extends "myapp/home.html" %}

{% block event %}

<div id="events"class="container-fluid " style="padding-top:70px;padding-bottom:70px;background-color: peachpuff">
        <h1 class="text-center">Events</h1>
        <hr>
        <!-- event1 -->
        <div class="row col-md-8 m-auto ">
              
              {% for event,token,ev in mylist %}
             
              <div class="col-md-4 animated rollIn" style="padding-bottom:30px;">
                        <h2 class="text-center" style="text-transform: uppercase;"> {{ event }}</h2>
                  <div data-toggle="modal" data-target="#{{ event }}">
                          <div class="hovereffect">
                                  <img class="img-fluid mx-auto d-block " src="https://media.gettyimages.com/photos/3d-rendered-blocks-picture-id1060070010" alt="">
                                  <div class="overlay">
                                     <h2>{{ event }}</h2>
                                     <a class="info" href="#{{ event }}">Details</a>
                                  </div>
                              </div>    
                  </div>
                  {% if user.is_authenticated %}
                  {% if token == '0' %}

                  <a href="#register" role="button" class="btn btn-primary btn-md container-fluid" data-toggle="modal">Register</a>

                  {% else %}
                  {% if token == '1' %}
                  <div class="card container-fluid text-center bg-info">
                        You have successfully reedeemed your coupon
                  </div>
                  {% else %}
                  <a href="#event" role="button" class="btn btn-success btn-md disabled container-fluid" data-toggle="modal">Registered</a>
                  <div class="row" id="{{ event }}verify">
                        <div class="col-md-12">
                              <form class="row">
                                    <div class="col-12 col-sm pr-sm-0">
                                          
                                          <input type="text" name="coin4" id="{{ event }}coin" placeholder="Enter the coupon Code to Reedem"
                                                class="form-control">
                                    </div>
                                    <div class="col-12 col-sm-auto pl-sm-0">
                                          <button type="submit" class="btn btn-primary btn-block">GetCoin</button>
                                    </div>
                              </form>
                        </div>
                  </div>
                  {% endif %}


                  {% endif %}
                  {% endif %}



            </div>
            <div class="modal fade" id="{{ event }}">
                  <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                              <div class="modal-header">
                                    <h4 class="modal-title">{{ event }}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body container-fluid">
                                    <div id="accordion{{ event }}">
                                          <div class="card">
                                                <div class="container-fluid">
                                                      <button type="button" class="btn-lg btn bg-light container-fluid"
                                                            data-toggle="collapse" data-target="#about{{ event }}">
                                                            ABOUT
                                                      </button>
                                                </div>
                                                <div id="about{{ event }}" class="collapse" data-parent="#accordion{{ event }}">
                                                      <div class="card-body">
                                                            {{ ev.eventrules.about }}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="card">
                                                <div class="container-fluid ">
                                                      <button type="button" class="btn-lg btn bg-light container-fluid"
                                                            data-toggle="collapse" data-target="#rules{{ event }}">
                                                            RULES
                                                      </button>
                                                </div>
                                                <div id="rules{{ event }}" class="collapse" data-parent="#accordion{{ event }}">
                                                      <div class="card-body">
                                                            {{ ev.eventrules.rules }}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="card">
                                                <div class="container-fluid">
                                                      <button type="button" class="btn-lg btn bg-light container-fluid"
                                                            data-toggle="collapse" data-target="#judge{{ event }}">
                                                            JUDGING CRITERIA
                                                      </button>
                                                </div>
                                                <div id="judge{{ event }}" class="collapse" data-parent="#accordion{{ event }}">
                                                      <div class="card-body">
                                                            {{ ev.eventrules.judging }}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="card">
                                                <div class="container-fluid">
                                                      <button type="button" class="btn-lg btn bg-light container-fluid"
                                                            data-toggle="collapse" data-target="#prize{{ event }}">
                                                            PRIZES
                                                      </button>
                                                </div>
                                                <div id="prize{{ event }}" class="collapse" data-parent="#accordion{{ event }}">
                                                      <div class="card-body">
                                                            {{ ev.eventrules.prizes }}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="card">
                                                <div class="container-fluid">
                                                      <button type="button" class="btn-lg btn bg-light container-fluid"
                                                            data-toggle="collapse" data-target="#contact{{ event }}">
                                                            CONTACT
                                                      </button>
                                                </div>
                                                <div id="contact{{ event }}" class="collapse" data-parent="#accordion{{ event }}">
                                                      <div class="card-body">
                                                           {{ ev.eventrules.contacts }}
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                        </div>
                  </div>

            </div>
  {% endfor %}
  
        </div>
  
  </div>

{% endblock event %}